/* Estilos para componentes específicos */

/* Estilos personalizados para el scrollbar del modal - Más visible */
.custom-scrollbar {
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 10px; /* Más ancho */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7); /* Más opaco */
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: white; /* Completamente blanco al hacer hover */
}

/* Estilos adicionales para el modal */
.promo-modal-content {
  max-height: 90vh;
  border-radius: 8px;
  overflow: hidden;
}

.promo-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Estilos para scrollbar general */
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none
}

* {
  scrollbar-width: none;     /* Firefox */
} 


/* Degradado inluxuri hero */
.degradado-inluxuri-hero {
  background: linear-gradient(180deg, rgba(204, 108, 97, 0.34) 0%, rgba(159, 61, 50, 0.34) 60%);
}